h1{
    border-radius: 20px;
    background-color: aqua;
    border: 2px solid red;
    
}
.m{
    color: rgb(22, 172, 8);
}
.q{
    color: rgb(42, 53, 53);
    background-color: rgb(175, 177, 99);
}
.a{
    color: black;
    background-color: bisque;
}
.l{
    width: 100%;
}

table , th, td { ;
    border: 1px solid black;
    border-collapse: collapse;
}
.w{
    
    background-color: rgb(34, 185, 59);

}
.d{
    background-color: red;
}
.s{
    background-color: red;
}
.n{
    background-color: blue;
}
.p{
    background-color: rgba(73, 51, 51, 0.658);
    color: blanchedalmond;
}
.t{
    background-color: rgba(36, 23, 23, 0.644);
    color: blanchedalmond;
}
.e{
    color: rgb(41, 88, 52);
}